.espace{
    height: 20px;
}
.espace1{
    height: 10px;
}

.flex-column {
    flex-direction:  row !important;
}

.vides
{
    font-size: 33px;
    position: absolute;
    left: 23%;
    top: 55%;
    color: #0E196B;
    margin-top: 4%;
    justify-content: center;
}

.spinner
{
    margin-left: 45%;
    justify-content: center;
}

.flex-column {
    flex-direction:  row !important;
}
.actions
{
    display: flex;
}

a{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
