<p-toast></p-toast>

<div class="card" *ngIf="categorieMarchands">
    <h5>Gestion des Categories de Marchands</h5>

    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nouvelle" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <!--            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" ></button>-->
        </ng-template>
    </p-toolbar>

    <div *ngIf="loading==true">
        <h5 class="spinner">Veuillez Passienter...</h5>
        <p-progressSpinner class="spinner"></p-progressSpinner>
    </div>
    <p-table *ngIf="categorieMarchands.length==0">
        <ng-template pTemplate="header">

            <p class="vides">La liste des Categories de Marchands est vide</p>


        </ng-template>

    </p-table>
    <!--    <p-progressSpinner *ngIf="loading==true" class="spinner"></p-progressSpinner>-->

    <p-table  #dt [value]="categorieMarchands" *ngIf="categorieMarchands.length!=0 && loading==false" [paginator]="true" [rows]="10"  [globalFilterFields]="['libelle']" responsiveLayout="scroll"
              [rowHover]="true" dataKey="id"
              [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Liste des Categories de Marchands</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." />
                        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="libelle">Libelle <p-sortIcon field="libelle"></p-sortIcon></th>
                <th pSortableColumn="montant">Montant(FCFA) <p-sortIcon field="montant"></p-sortIcon></th>

                <th>Actions</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categorieMarchand>
            <tr>
                <td>
                    <p-tableCheckbox [value]="categorieMarchand"></p-tableCheckbox>
                </td>
                <td>{{categorieMarchand.libelle}}</td>
                <td>{{categorieMarchand.montant.toLocaleString('fr-FR')}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCategorieMarchand(categorieMarchand)" pTooltip="Modifier une fonction" ></button>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteClasse(classe)" pTooltip="Supprimer une classe" ></button>
                     <button pButton pRipple icon="pi pi-bookmark-fill" class="p-button-rounded p-button-primary"  (click)="getOneClasse(classe)" pTooltip="Détails" ></button>-->
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

</div>

<p-dialog [(visible)]="categorieMarchandDialog" [style]="{width: 'auto'}" header="Ajout d'une Categorie de Marchands" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field p-col">
            <label for="libelle">Libelle</label>
            <div class="espace1">

            </div>

            <input type="text" pInputText id="libelle"  [(ngModel)]="categorieMarchand.libelle" required autofocus />
            <small class="p-error" *ngIf="submitted && !categorieMarchand.libelle">Libelle est obligatoire.</small>
        </div> <br> <br>
        <div class="p-field p-col">
            <label for="montant">Montant</label>
            <div class="espace1">

            </div>
            <p-inputNumber id="montant"  [(ngModel)]="categorieMarchand.montant" required autofocus></p-inputNumber>
<!--            <input type="text" pInputText id="montant"  [(ngModel)]="categorieMarchand.montant" required autofocus />-->
            <small class="p-error" *ngIf="submitted && !categorieMarchand.montant">Montant est obligatoire.</small>
        </div>

    </ng-template>
    <div class="espace">

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-success" (click)="postCategorieMarchand()" ></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="categorieMarchandEditDialog" [style]="{width: 'auto'}" header="Modification d'une Categorie de Marchand" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field p-col">
            <label for="libelle">Libelle</label>
            <div class="espace1">

            </div>
            <input type="text" pInputText id="libelle"  [(ngModel)]="categorieMarchand.libelle" required autofocus />
            <small class="p-error" *ngIf="submitted && !categorieMarchand.libelle">Libelle est obligatoire.</small>
        </div> <br> <br>
        <div class="p-field p-col">
            <label for="montant">Montant</label>
            <div class="espace1">

            </div>
            <p-inputNumber id="montant"  [(ngModel)]="categorieMarchand.montant" required autofocus></p-inputNumber>

<!--            <input type="text" pInputText id="montant"  [(ngModel)]="categorieMarchand.montant" required autofocus />-->
            <small class="p-error" *ngIf="submitted && !categorieMarchand.montant">Montant est obligatoire.</small>
        </div>

    </ng-template>
    <div class="espace">

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger"  (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-success" (click)="postCategorieMarchand()" ></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


